<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="https://www.flaticon.es/premium-icon/icons/svg/405/405692.svg" type="image/x-icon"/>
        <title>Home</title>
    </head>
    <body style="background-color: rgb(17, 122, 101);">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1><center>Bienvenidos a la Biblioteca</center></h1>
        <center><a href='http://127.0.0.1:8000/admin/'><button>Click Admin</button></a></center>
    </body>
    </html>